header
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  background: rgba(0, 0, 0, 0.2)
  box-shadow: 0px 0px 15px 0px 

  h1 
    font-family: digital, Arial
    font-size: 1.4em
    font-weight: bold
    padding: 0.6em 0.7em 0.9em 0.7em 
    font-variant: small-caps
    color: $yellow
    background: #222
    border: 3px blue solid
    border-radius: 50%
    box-shadow: 0px 0px 5px black
    margin: 5px
    span
      display: inline-block // first-line does not work on inline elements
      &::first-letter
        font-size: 150%

  #menu
    color: white
    margin: 15px
    width: 50px
    height: 40px
    border-color: white
    border-top: 3px solid
    border-bottom: 3px solid
    display: flex
    align-items: center
    span
      width: 100%
      height: 3px
      background-color: white




